@import "https://cdn.skypack.dev/normalize.css@8.0.1";
@import "https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap";

/* temp_stylePlugin:C:\Users\caio_\AppData\Local\Temp\2022120-17484-11bgo85.gs7p.css */
.App {
  display: grid;
  gap: 1rem;
  grid-template-areas: "header" "content";
  grid-template-columns: 100%;
  grid-template-rows: minmax(5vh, 10vh) auto;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--player-size);
}
@media (min-width: 1200px) {
  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: var(--player-size);
  }
}

/* temp_stylePlugin:C:\Users\caio_\AppData\Local\Temp\2022120-17484-922kxm.gs5oq.css */
.Header {
  color: gray;
  padding: 0 var(--app-padding);
  display: flex;
  align-items: center;
}

/* temp_stylePlugin:C:\Users\caio_\AppData\Local\Temp\2022120-17484-qng7ha.bqf7.css */
.main__player-btns {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--player-size);
  border-top: var(--cards-border);
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main__player-mute,
.main__player-volume {
  display: none;
}
.main__player-mute,
.main__player-prev,
.main__player-next {
  height: 35%;
  border-radius: 50%;
}
.main__player-playPause {
  border-radius: 50%;
  height: 70%;
}
.main__player-prev:hover,
.main__player-prev:focus,
.main__player-next:hover,
.main__player-next:focus,
.main__player-playPause:hover,
.main__player-playPause:focus {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.15);
}
.main__player-prev:active,
.main__player-next:active,
.main__player-playPause:active {
  background: rgba(0, 0, 0, 0.45);
}
.main__player-volume:disabled {
  pointer-events: none;
}
@media (min-width: 900px) {
  .main__player-mute,
  .main__player-volume {
    display: inline-block;
  }
}

/* temp_stylePlugin:C:\Users\caio_\AppData\Local\Temp\2022120-17484-yfc305.r4q0i.css */
.main__section {
  margin: 0 var(--app-padding) 1rem;
  padding: 1rem;
  border-radius: 4px;
  border: var(--cards-border);
  background: #fff;
}
.main__album-information {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.main__album-cover {
  width: 60%;
}
.main__album-information div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__album-title {
  font-size: 28px;
  line-height: 33px;
  margin: 0;
}
.main__album-artist {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.45);
}
.main__album-track {
  padding: 8px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.65);
}
.main__album-track:hover,
.main__album-track:focus {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
}
.main__album-track.playing {
  background: rgba(0, 0, 0, 0.15);
}
@media (min-width: 600px) {
  .main__album-information {
    justify-content: flex-start;
  }
  .main__section {
    width: 75%;
  }
  .main__album-cover {
    width: 40%;
  }
  .main__album-information div {
    justify-content: flex-start;
  }
  .main__album-title {
    font-size: 32px;
    line-height: 33px;
    margin-bottom: .5rem;
  }
  .main__album-track {
    font-size: 20px;
  }
}
@media (min-width: 900px) {
  .main__section {
    width: 60%;
  }
  .main__album-title {
    font-size: 40px;
    line-height: 50px;
  }
  .main__album-artist {
    font-size: 28px;
  }
  .main__album-track {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .main__section {
    width: 40%;
  }
  .main__album-title {
    font-size: 40px;
    line-height: 50px;
  }
  .main__album-artist {
    font-size: 28px;
  }
  .main__album-track {
    font-size: 25px;
  }
}

/* temp_stylePlugin:C:\Users\caio_\AppData\Local\Temp\2022120-17484-11z0zgs.xxu3l.css */
:root {
  --player-size: 15vh;
  --app-padding: 1rem;
  --cards-border: 1px solid rgba(0, 0, 0, 0.25);
}
body {
  background: #f4f4f4;
  font: 16px Roboto, sans-serif;
  line-height: 1.2em;
}
