@import url('https://cdn.skypack.dev/normalize.css@8.0.1');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

:root {
  --player-size: 15vh;
  --app-padding: 1rem;
  --cards-border: 1px solid rgba(0, 0, 0, 0.25);

  --width-break600: 75%;
}

body {
  background: #f4f4f4;
  font: 16px Roboto, sans-serif;
  line-height: 1.2em;
}
